@font-face {
  font-family: "MON";
  src: url("/fonts/MonumentGrotesk-Medium.otf") format('opentype');
  font-weight: 500;
  font-style: normal;
}
:root {
  --margin-page: .75rem;
  --base-font-size: 15px;
  --baseline: 1.5rem;
  /*--bg-white: #fefefe;*/
  --bg-white: #ffffff;
  --bg-white: #f4f1f1;
  --text-black: #282828;
  --text-black: #2c2c2d;
  --text-black: #141414;
  --link-color: #868686;
  --button-background: #b5b5b5cc;
  --hidden-text: #e3e3e3;
  --bg-selection-text: #e3e3e3;
  --bg-selection-text: #d4d4d4;
  --tag-col: #868686;
  /*--text-black: #212529;*/
}
::selection {
  background-color: #eaeaea;
  background-color: var(--bg-selection-text);
  /*color: transparent;
  color: #d4d4d4;*/
}


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

html,
body
{
    font-family: "helvetica","Arial",sans-serif;
    font-kerning:normal;
    font-size: var(--base-font-size);
    word-spacing:0.001em;
    font-weight: 400;
    line-height: var(--baseline);
    background: var(--bg-white);
    color: var(--text-black);
    -webkit-font-smoothing: subpixel-antialiased !important;
    text-rendering:optimizeLegibility !important;
    position: relative;
    width: 100%;
}
h1, h2, h3, h4 ,h5 {
  font-weight: 400;
}
h1 {
  font-size: 2.7rem;
  letter-spacing: -0.02em;
  line-height: calc(var(--baseline) * 2);
}
h2 {
  font-size: 2.9rem;
  letter-spacing: -0.024em;
  line-height: calc(var(--baseline) * 2);
  font-size: 3rem;
  line-height: calc(var(--baseline) * 2);
}
h3 {
  font-size: 1.5rem;
  line-height: calc(1 * var(--baseline));
  letter-spacing: -0.015em;
}
h5 {
  font-size: 1.4rem;
  letter-spacing: -0.02em;
  line-height: calc(var(--baseline) * 1);
}
a {
  text-decoration: inherit;
  cursor: pointer;
}
@media only screen and (min-width: 601px) {

}
@media only screen and (max-width: 600px) {
  :root {
    --margin-page: .5rem;
    --base-font-size: 18px;
    --baseline: 1.5rem;
    --bg-white: #fefefe;
    --text-black: #0f0f0f;
    --hidden-text: #e3e3e3;
    --bg-selection-text: #e3e3e3;
    /*--text-black: #212529;*/
  }
}



a {
  color: inherit;
}

/*mobile*/
@media only screen and (max-width: 600px) {
  *:hover {
    /*
    background: inherit;
    color: inherit;
    text-decoration: inherit;
    */
  }
  .mob-hidden {
    display: none !important;
  }
  h1 {
    font-size: 2.7rem;
    letter-spacing: -0.02em;
    line-height: calc(var(--baseline) * 2);
  }
  h2 {
    font-size: 2.9rem;
    letter-spacing: -0.024em;
    line-height: calc(var(--baseline) * 2);
    font-size: 1.4rem;
    line-height: calc(var(--baseline) * 1);
  }
  h3 {
    font-size: 1.3rem;
    line-height: calc(1 * var(--baseline));
    letter-spacing: -0.015em;
  }
  h5 {
    font-size: 1rem;
    letter-spacing: -0.02em;
    line-height: calc(var(--baseline) * 1);
  }
  .h-text, .link-e, .show-h-text {
    background: inherit;
    color: inherit;
  }
  .project-caption {
    font-size: 1rem;
  }

  .webgl
  {
      height: 65vh;
  }
  .ctrls-3d div {
    font-size: 1.1rem;
    background: var(--bg-white);
    background: transparent;
    margin-right: .7em;
  }
  .ctrls-3d div:hover {
    color: var(--text-black);
    background: var(--bg-white);
    background: transparent;
  }
  .clock-wrapper {
      font-size: 1.1rem;
  }
  .note-mob-info {
    display: block;
  }
  .mob-hidden {
    display: none;
  }
  .top-header {
    display: flex;
    justify-content: space-between;
  }
  .menu-mob-btn {
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    display: inline-block;
    background: var(--text-black);
  }
  .top-header .menu-items .header-item {
    margin-right: 0em;
  }
  .proj-tag {
    font-size: 1rem;
    padding: 0rem .3rem 0 0;
    /**/
    line-height: 1em;
    font-size: .9rem;
    padding: .2rem .4rem;
  }




  .main-content-home {
    margin: calc(1 * var(--margin-page));
    grid-template-columns: repeat(4, 1fr);
    column-gap: var(--margin-page);
    row-gap: var(--margin-page);
    padding-bottom: 4em;
  }
  .main-content-home .paragraph {
    grid-column: 1 / span 4;
    font-size: 1.55rem;
    font-size: 1.65rem;
    line-height: calc(var(--baseline) * 1.3);
    letter-spacing: -0.015em;
    width: 100%;
    font-size: 1.5rem;
    line-height: calc(var(--baseline) * 1.2);
  }
  .main-content-home .paragraph sup {
    line-height: 0;
    font-size: .6em;
  }
  .notes-section {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9;
  }
  .link-contacts {
    text-decoration: underline;
    text-underline-offset: 0.1em;
    text-decoration-thickness: 0.07em;
  }
  .show-block-note {
    display: block;
    pointer-events: all;
  }
  .note {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--bg-white);
    background-color: var(--bg-selection-text);
    column-gap: var(--margin-page);
    padding: calc(var(--margin-page) * 2);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: all .3s ease;
    transform: translateY(200%);
  }
  .show-mob-note {
    transform: translateY(0);
    opacity: 1;
  }
  .note img,
  .note video {
    grid-row: 1;
    grid-column: 1 / span 2;
    margin-bottom:  calc(var(--margin-page) * 2);
    margin-left: 3rem;
    box-sizing: border-box;
    width: calc(100% - 3rem);

  }
  .note-active-mob {
    grid-row: 2;
    color: var(--bg-white);
    background: var(--text-black);
  }
  .note-mob-info {
    display: flex;
    grid-column: 1 / span 2;
  }
  .note-mob-info .paragraph {
    width: 3rem;
  }
  .note-mob-info .didascalia {
    width: calc(100% - 3rem);
  }
  .full-with-info {
    grid-column: 1 / span 2;
  }
  h5.didascalia {
    font-size: 1.3rem;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: calc((var(--baseline) * 1.3) / 2);
  }
  .link-e {
    text-decoration: underline;
    text-underline-offset: 0.1em;
    text-decoration-thickness: 0.07em;
  }
  .note-ref {
    cursor: auto;
  }
  .proj-section {
    top: 65vh;
  }
  .proj-highlight,
  .proj-highlight-container:nth-of-type(2n) .proj-highlight {
    flex-direction: column;
  }
  .proj-highlight__header {
    position: relative;
    padding-bottom: calc(10 * var(--margin-page));
    top: 0;
  }
  .mob-grid-offset-0 {
    grid-column-start: 1;
  }
  .mob-grid-col-12 {
    position: relative;
    grid-column: auto / span 12;
  }
  .mob-grid-col-6 {
    position: relative;
    grid-column: auto / span 6;
  }
  .btm-pad-0-mob {
    padding-bottom: 0;
  }
  .top-pad-0-mob {
    padding-top: 0;
  }
  .btm-pad-1-mob {
    padding-bottom: calc(1 * var(--margin-page));
  }
  .top-pad-1-mob {
    padding-top: calc(1 * var(--margin-page));
  }
  .btm-pad-2-mob {
    padding-bottom: calc(2 * var(--margin-page));
  }
  .top-pad-2-mob {
    padding-top: calc(2 * var(--margin-page));
  }
  .btm-pad-4-mob {
    padding-bottom: calc(4 * var(--margin-page));
  }
  .top-pad-4-mob {
    padding-top: calc(4 * var(--margin-page));
  }
  .btm-pad-6-mob {
    padding-bottom: calc(6 * var(--margin-page));
  }
  .top-pad-6-mob {
    padding-top: calc(6 * var(--margin-page));
  }
  .btm-pad-8-mob {
    padding-bottom: calc(8 * var(--margin-page));
  }
  .top-pad-8-mob {
    padding-top: calc(8 * var(--margin-page));
  }
  .grid-row-gap-0 {
    row-gap: 0;
  }
  .grid-row-gap-1 {
    row-gap: calc(1 * var(--margin-page));
  }
  .grid-row-gap-2 {
    row-gap: calc(2 * var(--margin-page));;
  }
  .archive-item-tags {
    flex-wrap: wrap;
  }
  .archive-item-imgs {
    display: flex;
    list-style: none;
    width: 100%;
    height: auto;
    column-gap: var(--margin-page);
    row-gap: var(--margin-page);
    overflow-x: scroll;
    flex-wrap: nowrap;
  }

  .archive-item-imgs li {
    height: 180px;
    width: auto;
    flex-shrink: 0;
  }
  .main-about-paragraph {
    font-size: 1.3rem;
    line-height: var(--baseline);
  }
  .related-projects-section {
    padding-bottom: calc(8 * var(--margin-page));
  }


}