@font-face {
  font-family: "MON";
  src: url("/fonts/MonumentGrotesk-Medium.otf") format('opentype');
  font-weight: 500;
  font-style: normal;
}
:root {
  --margin-page: 20px;
  --base-font-size: 38px;
  --baseline: 60px;
  /*--bg-white: #fefefe;*/
  --bg-white: #ffffff;
  --bg-white: #f4f1f1;
  --text-black: #282828;
  --text-black: #2c2c2d;
  --text-black: #141414;
  --link-color: #868686;
  --button-background: #b5b5b5cc;
  --hidden-text: #e3e3e3;
  --bg-selection-text: #e3e3e3;
  --bg-selection-text: #d4d4d4;
  --tag-col: #868686;
  /*--text-black: #212529;*/
}
::selection {
  background-color: #eaeaea;
  background-color: var(--bg-selection-text);
  /*color: transparent;
  color: #d4d4d4;*/
}


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

html,
body
{
    font-family: "helvetica","Arial",sans-serif;
    font-kerning:normal;
    font-size: var(--base-font-size);
    word-spacing:0.001em;
    font-weight: 600;
    line-height: var(--baseline);
    background: var(--bg-white);
    color: var(--text-black);
    -webkit-font-smoothing: subpixel-antialiased !important;
    text-rendering:optimizeLegibility !important;
    position: relative;
    width: 100%;
}
.nav-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: var(--margin-page);
}
.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9;
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--margin-page);
    text-align: center;
    width: 100%;
    height: 100vh;
}
.main-page p {
    max-width: 27em;
}

.emoji-glyph {
    height: 1.4em;
    display: inline-block;
    position: relative;
}
.emoji-glyph img {
    display: block;
    position: relative;
    width: auto;
    height: 100%;
}
.main-page .emoji-glyph {
    top: .3em;
}
/*mobile*/
@media only screen and (max-width: 992px) {
  *:hover {
    /*
    background: inherit;
    color: inherit;
    text-decoration: inherit;
    */
  }
  .mob-hidden {
    display: none !important;
  }
  body {
    font-size: 24px;
    word-spacing:0.001em;
    font-weight: 600;
    line-height: 1.5em;
    background: var(--bg-white);
    color: var(--text-black);
    }
  .main-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 100px var(--margin-page);
        text-align: center;
        height: auto;
        min-height: 100vh;
        overflow: hidden;
    }
    .main-page p {
        max-width: 10em;
    }
    .emoji-glyph {
        height: 10px;
        overflow: visible;
        top: -.8em;
    }
    .main-page .emoji-glyph {
        top: -.8em;
    }
    .emoji-glyph img {
        height: 1.3em;
    }


}